# Editor Files and Folders

.idea/
.vscode/
.DS_Store
*~
\#*#

# Build Files and Binaries

babel_client
babel_server
*.o
*.so
cmake-build-*/
build/

# Documentation Generation Files

doc/latex/
doc/html/